@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
:root {
    --color-text: #cdc6c3;
    --hover-color: #70efbf;
    --neon-box-shadow: 0 0 .5rem #70efbf;
    --index: calc(1vw + 1vh);
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: #000;
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}


body{
    font-family: "Outfit",sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

a {
    color: #fff;  
}

header{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
    font-size: 22px;
    color: var(--hover-color);
}

.logo img{
    max-width: 100%;
    width: 40px;
    height: auto;
}

header .navlist{
    display: flex;
}

.navlist li{
    margin: 0 1.5rem;
}

.navlist li .nav-item{
    position: relative;
    padding: 17px 0;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .2s ease;
}

.navlist li .nav-item:hover{
    color: var(--hover-color);
}



.navlist li .nav-item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: var(--hover-color);
    border-radius: 50%;
    transition: all .3s ease;
}


.navlist li .nav-item:hover::before{
    width: 100%;
}


.navlist li .active{
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

.right-side {
    display: flex;
    align-items: center;
}

.marsbtn{
    background: linear-gradient(180deg , #70efbf 0 , #21e69a 100%);
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    padding: 0 20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .3s ease;
    white-space: nowrap;
    display: inline-block;
    color: #000;
}

.marsbtn:hover{
    background: linear-gradient(180deg , #70efbf 0 , #02ff9e 100%);
    box-shadow: 0 3px 9px #25b981;
}

#menu-icon{
    color: var(--hover-color);
    font-size: 2.5rem;
    display: none;
}

section{
    padding: 100px 12%;
}

/* Home Section CSS */

.home-img img.hero{
    max-width: 100%;
    width: 400px;
    height: auto;
    animation: floating 4s ease-in-out infinite;
}

.earth-rotate{
    width: 100%;
}

.earth-rotate img.earth{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;
    width: calc(var(--index)*45);
    animation: rotate 300s infinite linear;
}

.home{
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2 , 1fr);
    color: #fff;
    width: 100%;
}

.home-text h1,h2{
    font-size: calc(var(--index)*2);
    margin-bottom: 1rem;
    font-weight: 800;
    text-shadow: 1px 1px 1px #474747;

}

.home-text .marsbtn{
    margin-top: 1rem;
    height: 35px;
    line-height: 35px;

}

span{
    color: var(--hover-color);
}

img.moon-light{
    position: absolute;
    left: 0;
    mix-blend-mode: screen;
    width: 90px;
}

/* Flight list css----------------------------------------------- */

.flight-list{
    position: relative;
}

.flight-list .container{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.container .flight-box{
    width: 200px;
    padding: 2rem 1.5rem 2rem;
    text-align: center;
    background-image: url(cardBg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    z-index: 2;
    margin: 2rem .5rem;

}

.flight-box img{
    width: 120px;
    margin: -4rem auto 0 auto;
    animation: floating 6s ease-in-out infinite;
    filter: drop-shadow(0 0 .5rem #1797ff);
    border-radius: 50%;
}

.container .flight-box h2{
    color: var(--hover-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.flight-box p{
    color: #dddcdc;
    line-height: 1.5rem;
    font-size: .9rem;
}

.flight-box .marsbtn{
    margin-top: 1rem;
    height: 32px;
    line-height: 32px;
    color: #000;
    font-size: .8rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
}


/* Mission History CSS --------------------------------------------*/

.mission-history{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.img-mission{
    position: relative;
    width: 600px;
}

.circle-animate{
    position: absolute;
    top: 30%;
    width: 200px;
    height: 200px;
    background: var(--hover-color);
    border-radius: 50%;
    box-shadow: var(--neon-box-shadow);
    text-align: right;
}

.circle-animate span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: inherit;
    border-radius: inherit;
    opacity: .4;
    animation: circleAnimate 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

.img-mission img{
    width: 200px;
    height: auto;
    animation: floating 4s ease-in-out infinite;
}

.text-mission{
    color: #fff;
}

.text-mission h3{
    font-size: 2.5rem;
    text-shadow: 2px 1px 1px #474747;
}

.text-mission p{
    margin: 1rem auto;
    line-height: 2rem;
}

.text-mission .mission-btn a{
    margin-top: 1rem;
    height: 35px;
    line-height: 35px;
}



/* Shop Section CSS ........................................... */

.shop .flight-box{
    text-align: left;
    width: 210px;
}

.shop .flight-box img{
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    filter: none;
}  


.shop .flight-box title{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 0;
}


.shop .flight-box .price{
    color: var(--hover-color);
    font-size: 20px;
    font-weight: 600;
}

.shop-btn{
    text-align: center;
}


.shop-btn .marsbtn{
    height: 40px;
    line-height: 40px;

}


/* Experience Section CSS ........................................... */


.experience .img-mission img{
    width: 300px;
}

.experience .circle-animate{
    position: absolute;
    left: 17%;
    width: 150px;
    height: 150px;
}

/* Footer Section CSS ........................................... */

footer{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 3rem 12%;
    color: #fff;
    border-top: 1px solid #561389;

}

.container-foot{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1rem;
}

.container-foot .leftbox .social-media{
    display: flex;
}

.container-foot .title{
    font-size: 1.5rem;
    color: var(--hover-color);
    font-weight: 600;
}

.leftbox p{
    padding: 15px 0;
    line-height: 1.5rem;
}

.social-media a{
    font-size: 1.5rem;  
}

.social-media a:hover{
    color: var(--hover-color);
}

.social-media li{
    margin-right: 1rem;

}

.quick-menu li{
    margin-top: 1rem;
}

.quick-menu li a:hover{
    color: var(--hover-color);

}

.info li span{
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
    column-gap: 5px;

}

.copyright{
    padding: 1.5rem 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(117,117,117,0.3);
    align-items: center;
}

.copyright a{
    display: inline-flex;
    align-items: center;
    background: var(--hover-color);
    border-radius: 50%;
    padding: 10px;
    color: #000;
}

/* header sticky css */
header.sticky{
    background:rgba(0, 0, 0, 0.7);
    padding: 9px 12%;
    border-bottom: 1px solid #3e0e62;
}

/* KeyFrames */

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes floating{
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-14px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes circleAnimate{
    100%{
        opacity: 0;
        transform: scale(2);
    }

}

/* Media Queries */
@media(max-width:1200px){
    html{
        font-size: 90%;
    }
    .navlist li{
        margin: 0 1.2rem;
        font-size: 1rem;
    }

}

@media(max-width:991px){
    header,header.sticky{
        padding: 12px 3%;
    }

    .navlist li .nav-item{
        padding: 23px 0;
    }

    .flight-list .container{
        margin-top: 0;
    }

    section{
        padding: 50px 3%;
    }

    .container-foot{
        grid-template-columns: repeat(2 , );
    }

    .mission-history ,
    .experience{
        flex-direction: column;
        height: 100%;
    }

    .img-mission{
        width: auto;
    }
}

@media(max-width:768px){
    #menu-icon{
        display: block;
        margin-left: .7rem;
    }

    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: all .7s ease;
    }

    .open{
        top: 100%;

    }
    .navlist li{
        padding: 1.2rem;
        width: 100%;
        text-align: center;
    }

    .navlist li .nav-item{
        padding: 5px 0;
        font-size: 1.4rem;
    }

    .home{
        display: grid;
        grid-template-columns: 1fr;

    }

    .earth-rotate img.earth{
        animation: none;
    }
    
}

@media(max-width:503px){
    .copyright{
        display: block;
        text-align: center;
    }
    .copyright p{
        margin-bottom: 1rem;

    }
}







